services:
  shareit-server:
    build: .
    container_name: shareit-server
    ports:
      - "127.0.0.1:8080:8080"  # ИЗМЕНИТЬ ЭТУ СТРОКУ!
    depends_on:
      db:
        condition: service_healthy
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s